@import '../../variable.scss';

.component-content {

  .gridCentrade {
    width: 1440px;
    margin: auto;
  }

  .item {
    padding: 10px;
    .content {
      padding: 10px;
      img { border-radius: $radius-base; }
    }
    .content:hover {
      background-color: $color-3;
      border-radius: $radius-base;
    }
  }

  .item:hover {
    cursor: zoom-in;
  }

  @include respond-to(mobile) { 
    .gridCentrade { width: 425px; }
  }
  @include respond-to(tablet) { 
    .gridCentrade { width: 768px; }
  }
  @include respond-to(desktop) { 
    .gridCentrade { width: 1024px; }
  }

}