@import '../../variable.scss';

.component-content {

  .item {
    .content {
      padding: 10px;
      img { border-radius: $radius-base; }
    }
    .content:hover {
      background-color: $color-3;
      border-radius: $radius-base;
    }
  }

  .item:hover {
    cursor: zoom-in;
  }

  // @include respond-to(mobile) { 
  //   .gridCentrade { width: 90%; }
  // }
  // @include respond-to(tablet) { 
  //   .gridCentrade { width: 90%; }
  // }
  // @include respond-to(desktop) { 
  //   .gridCentrade { width: 90%; }
  // }

}